body{
	background-image: url("../images/nature024_uhd.jpg");
	background-size: 1600px 1000px;
}
#tablet{
	background-color: lightgray;
	border: 2px solid black;
    border-radius: 25px;
    width: 1100px;
}
#fondo{
	background-image: url("../images/skateboard-wallpaper.jpg");
	background-position: center;
	background-size: cover;
	border: 2px solid black;
    width: 1000px;
	height: 500px;
	margin-left: 3px;
	margin-top: 30px;
	margin-bottom: 45px;
	/*filter:blur(6px);*/
}
.login{
	position: absolute;
	top: calc(30% - 75px);
	left: calc(30% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	
}
.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 3px;
	padding: 4px;
	margin-top: 10px;
}
#usuario{
	color: white;
}
.login input[type=submit]:hover{
	opacity: 0.8;
}
.login input[type=submit]:active{
	opacity: 0.6;
}
.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}
::-webkit-input-placeholder{
   color: white;
}
::-moz-input-placeholder{
   color: white;
}
#iniciar{
	border-radius: 70px;
}
#home{
	width: 50px;
	height: 50px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}